<!--
title: Развиваемые курсом компетенции
description: Развиваемые компетенции
published: true
date: 2021-08-27T15:42:52.019Z
tags: competences
editor: ckeditor
dateCreated: 2021-08-25T11:52:35.507Z
-->

<h2>После успешного прохождения курса обучающий приобретает следующие навыки:</h2>
<ul>
  <li>Опыт работы с системой контроля версий Git</li>
  <li>Опыт работы с популярными сервисами для хостинга проектов такими как GitHub, GitLab</li>
  <li>Опыт развёртывания решений через GitLab CI</li>
  <li>Опыт докериазации ML решений</li>
  <li>Опыт реализации веб приложения на фреймворке Flask API</li>
  <li>Опыт обуения и валидации классических моделей ML и глубокого обучения из областей CV и &nbsp;NLP</li>
  <li>Опыт автоматического сбора и предобработки обучающих данных</li>
  <li>Исследовательский опыт, поиск эффективных и современных решений поставленных задач</li>
  <li>Опыт организации работы и планирование времени реализации задач, ведение отчётов</li>
</ul>
