<!--
title: CV проект
description: 
published: true
date: 2021-08-23T10:15:20.580Z
tags: 
editor: ckeditor
dateCreated: 2021-08-23T07:58:36.919Z
-->

<h1>Реализация системы распознавания лица на CPU</h1>
<h2>Постановка задачи</h2>
<p>Реализовать систему для распознавания лиц. Развернуть данную систему на процессоре (без использования видеокарты).</p>
<p>Данная система должна содержать реализацию следующих подзадач:</p>
<ol>
  <li>Нахождение лиц на изображении</li>
  <li>Отслеживание (трекинг) найденных лиц (в демонстрационном приложении)</li>
  <li>Внесение лица в базу и проверка на факт наличия человека в базе</li>
  <li>Идентификация лица по зарегистрированной базе с лицами</li>
  <li>(Дополнительно) распознавание “поддельных лиц” (anti-spoofing) на монокулярной камере</li>
</ol>
<p>Решение необходимо подготовить в двух вариантах:</p>
<ul>
  <li>Демонстрационное приложение с чтением кадров с видео или веб камеры и визуализацией)</li>
  <li>FastAPI сервис для сетевого использования приложения</li>
</ul>
<h2>Требования к реализации</h2>
<ul>
  <li>Решение должно достигать скорости обработки одного кадра 50 миллисекунд (на CPU)</li>
  <li>Языком для реализации может служить C/C++ или Python</li>
  <li>Система для распознавания лиц должна работать с точностью не менее 95% при количестве лиц в базе не менее 1000</li>
</ul>
<h1>Рекомендации к реализации</h1>
<h2>Детекция (нахождение) лица</h2>
<p>Существующие решения для детекции лиц хоть и могут показывать хорошие показатели точности, но при этом их зачастую бывает тяжело конвертировать в другие фреймворки для оптимизации и ускорения модели. В данном случае хорошим решением будет взять за основу модель для детекции объектов, которая хорошо конвертируется в нужный фреймворк и обучить её решению текущей задачи.</p>
<p>Хорошими примерами являются:</p>
<ul>
  <li><a href="https://github.com/ultralytics/yolov5"><u>https://github.com/ultralytics/yolov5</u></a></li>
  <li>https://github.com/Megvii-BaseDetection/YOLOX&nbsp;</li>
</ul>
<p>Особенностью данных репозиториев является возможность конвертировать обученные сети в другие фреймворки по типу ONNX и OpenVINO.</p>
<p>Теперь нужно обучить модель, для этого необходимы данные. Для этого хорошо подходит датасет<a href="http://shuoyang1213.me/WIDERFACE/"><u> WIDER FACE</u></a>. Его необходимо будет конвертировать в соответствующий формат для пайплайна обучения и вместе с этим отфильтровать от слишком мелких детекций. Далее необходимо обучить модель. Оба репозитория содержат хорошие инструкции по обучению, использованию и конвертации моделей.</p>
<p>По итогу данную модель необходимо использовать на процессоре с архитектурой x86. Для эффективного запуска на таких процессорах отлично подходит фреймворк <a href="https://habr.com/ru/company/intel/blog/546438/"><u>OpenVINO</u></a>.</p>
<p>При обучении модели YoloV5s (берём самые быстрые варианты для обучениях из обоих репозиториев, так как нам важна скорость) схема действий будет такой: PyTorch model -&gt; ONNX -&gt; OpenVINO. А для YOLOX протос необходимо конвертировать модель в OpenVINO напрямую по инструкции из репозитория.</p>
<p>Теперь необходимо реализовать инференс модели на выбранном языке.</p>
<h2>Трекинг найденного лица</h2>
<p>Для реализации можно использовать трекинг, который просто находит к боксу ближайший другой бокс и сопоставляет их по порогу. Если хочется более продвинутое решение, можно использовать совместно с этим <a href="https://towardsdatascience.com/computer-vision-for-tracking-8220759eee85"><u>фильтр Калмана</u></a>, для уточнения позиций боксов на предполагаемом следующем кадре. Если хочется ещё более продвинутой реализации, можно использовать <a href="https://github.com/nwojke/deep_sort"><u>DeepSort</u></a>, но не стоит забывать о скорости работы.</p>
<h2>Работы с базой закодированных представлений лиц</h2>
<p>Лица в базу как правило хранятся в виде векторов. При решении задачи идентификации человека, ищется ближайший вектор из базы с некоторым порогом схожести этих векторов по метрике. В случае нахождения такого элемента в базе, человек распознается. Данные вектора являются результатом работы модели для распознавания лиц, которая на вход принимает кроп лица из изображения по координатам, найденным моделей детекции лиц. Данную кодировку лица называют эмбеддингом. Для организации такой базы можно воспользоваться готовыми уже оптимизированными решениями по типу <a href="https://milvus.io/"><u>Milvus</u></a>. Но в рамках данной задачи можно реализовать своё простое решения для хранения и поиск ближайших эмбеддингов.</p>
<h2>Работы с базой закодированных представлений лиц</h2>
<p>Модель для распознавания лиц можно брать готовую, например <a href="https://cmusatyalab.github.io/openface/"><u>OpenFace</u></a>, или же обучить свою. Второй вариант как правило будет более точным по итоговым метрикам. Пайплайн обучения можно взять готовый, например <a href="https://github.com/Tencent/TFace"><u>TFace</u></a>. Данными для обучения могут послужить следующие популярные датасеты: <a href="https://paperswithcode.com/dataset/casia-webface"><u>CASIA</u></a>, <a href="https://paperswithcode.com/dataset/vggface2-1"><u>VGGFACE2</u></a>.</p>
<p>Более подробно тема распознавания лиц очень хорошо разобрана в <a href="https://habr.com/ru/post/317798/"><u>следующей статье</u></a> на Хабре. Там же можно почитать о метриках для оценки качества предсказаний модели.</p>
<p>&nbsp;</p>
