<!--
title: Система для описания действия распознанного человека по лицу
description: 
published: true
date: 2021-02-17T09:39:57.905Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:08.474Z
-->

<h2>Описание задачи</h2>
<p>Разработать систему для автоматического описания действия распознанного человека по лицу. Например, система должна понять, что на картинке ниже изображен Джон Траволта и он стоит в комнате.</p>
<figure class="image image_resized" style="width:39.26%;"><img src="/assets/travolta.png">
  <figcaption>Пример работы системы: распознан человек на изображении (John Travolta) и описано его действие (standing in the room)</figcaption>
</figure>
<h2>Темы в рамках проекта:</h2>
<h3>Классические алгоритмы компьютерного зрения</h3>
<ul>
  <li>Детекция лиц на основе каскадов Хаара</li>
  <li>Детекция лиц с помощью гистограмм направленных градиентов</li>
  <li>Методы классификации изображений</li>
  <li>Детекция ключевых точек лица</li>
  <li>Выравнивание изображений лиц</li>
  <li>Распознавание лиц с помощью гистограмм направленных градиентов</li>
</ul>
<h3>Нейронные сети для распознавания лиц</h3>
<ul>
  <li>Детекция лица на основе нейронной сети</li>
  <li>Распознавание лиц с помощью нейронных сетей<ol>
      <li>От категориальной классификации к классификации с помощью метрических алгоритмов</li>
      <li>Продвинутые подходы для распознавания лиц</li>
    </ol>
  </li>
  <li>Общие готовые решения для распознавания лиц</li>
  <li>Сравнения качества работы системы для распознавания лиц, основанной на классических подходах компьютерного зрения и на нейронных сетях<ol>
      <li>Оценка качества классифицирующей модели</li>
      <li>Специальные метрики для оценка качества модели для распознавания лиц</li>
    </ol>
  </li>
  <li>Разработка системы поиска похожих лиц</li>
</ul>
<h3>Автоматическое описание изображений</h3>
<ul>
  <li>Разработка модели для автоматического описания изображения</li>
  <li>Внедрение данного решения в текущий проект по распознаванию лиц</li>
</ul>
<h3>Развертывание решения</h3>
<ul>
  <li>Разработка REST-API сервера для модели с помощью Flask или FastAPI</li>
  <li>Обёртка решения в Docker контейнер</li>
  <li>Разверните решение на сервере и протестируйте</li>
  <li>Дополнительно: разработка веб-страницы для вашего решения</li>
</ul>
<h3>Бонусные темы</h3>
<ul>
  <li>Современные системы поиска наиболее близких векторов (Milvus)</li>
  <li>Продвинутые методы детекции и классификации лиц</li>
  <li>Фреймворки для построения DL- пайплайнов (Catalyst, Lightning, FastAI)</li>
</ul>
