<!--
title: Data Engineering in Computer vision!
description: Добро пожаловать на страницу курса Data Engineering in Computer vision!
published: true
date: 2021-02-15T13:24:19.344Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:11.268Z
-->

<h2>Цели проектов</h2>
<ul>
  <li>Изучение подходов построения эффективных пайплайнов инференса алгоритмов машинного обучения.</li>
  <li>Изучение алгоритмов классического компьютерного зрения.</li>
  <li>Понимание и приложение современных подходов распознавания лиц.</li>
  <li>Реализация полноценного решения для опыта работы с полным циклом разработки решения с внедряемой моделью машинного обучения.</li>
</ul>
<h2>Требования к обучающимся</h2>
<ul>
  <li>Хорошие знания языка программирования Python.</li>
  <li>Понимание основ математического анализа, математической статистики и линейной алгебры.</li>
</ul>
<h2>Будет плюсом</h2>
<ul>
  <li>Опыт работы с библиотеками: <strong>Numpy</strong>, <strong>SciPy</strong>, <strong>Scikit-Learn</strong>, <strong>Pytorch</strong>, <strong>OpenCV</strong>, <strong>Pandas</strong>.</li>
  <li>Понимание основных концептов работы алгоритмов машинного обучения и нейронных сетей.</li>
</ul>
<h2>Список проектов</h2>
<ol>
  <li><a href="http://104.248.230.237/face_recognition_system">Система для описания действия распознанного человека по лицу</a>.</li>
</ol>
<h2>Список рекомендуемых материалов</h2>
<ul>
  <li><a href="https://www.ozon.ru/product/glubokoe-obuchenie-141754606/">Глубокое обучение.</a> Ян Гудфеллоу, Иошуа Бенджио Аарон Курвилль.</li>
  <li><a href="https://www.ozon.ru/product/mashinnoe-obuchenie-nauka-i-iskusstvo-postroeniya-algoritmov-kotorye-izvlekayut-znaniya-iz-31683007/">Машинное обучение. Наука и искусство построения алгоритмов, которые извлекают знания из данных.</a> Петер Флах.</li>
  <li><a href="https://www.ozon.ru/product/tsifrovaya-obrabotka-izobrazheniy-19898948/">Цифровая обработка изображений.</a> Вудс Ричард, Гонсалес Рафаэль.</li>
  <li><a href="https://stepik.org/course/50352/syllabus">Нейронные сети и компьютерное зрение.</a> Stepic.</li>
</ul>
