<!--
title: Организация курса
description: 
published: true
date: 2021-09-14T07:51:17.630Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:13.922Z
-->

<h2>Формат отчёта</h2>
<p>Прогресс по всем шагам разработки необходимо отражать в документах [<a href="https://www.google.ru/intl/ru/docs/about/"><u>Google Docs</u></a>].&nbsp;</p>
<p>Так как ваше задание разбито на подпункты и предполагает последовательного выполнения, то в отчёте также необходимо описывать всё по соответствующим пунктам.</p>
<p>Для начала работы создайте документ в [<a href="https://www.google.ru/intl/ru/docs/about/"><u>Google Docs</u></a>] и поделитесь им с помощью ссылки с доступом редактора с организаторами курса. По мере прохождения курса проверяющие организаторы курса будут оставлять там комментарии с замечаниями.</p>
<h2>Ведение репозитория</h2>
<p>Кроме того, весь разрабатываемый код необходимо хранить в репозитории в соответствии с приведённым примером [<a href="https://gitlab.com/alexey.s.russ/example-repository"><u>Repo example</u></a>][<a href="https://alistapart.com/article/the-art-of-the-commit/"><u>The Art of the Commit</u></a>].</p>
<p>Для начала работы создайте открытый репозиторий на ресурсе [<a href="http://gitlab.com/"><u>GitLab</u></a>] или [<a href="https://github.com/"><u>GitHub</u></a>] и скопируйте себе репозиторий [<a href="https://gitlab.com/alexey.s.russ/example-repository"><u>Repo example</u></a>], с последующим коммитом в свой. Или же можно просто придерживаться структуре данного репозитория, что рекомендуется.</p>
<p>Будет большим плюсом, если при реализации заданий будете придерживаться логированию выполняемых заданий через #issue репозитория [<a href="https://docs.github.com/en/github/managing-your-work-on-github/about-issues"><u>About issues</u></a>]. Создавая #issue у неё будет уникальный номер и описание проблемы, которая решается при реализации этой части кода. Таким образом начиная решать задачу можно создавать #issue и описывать в документе [<a href="https://www.google.ru/intl/ru/docs/about/"><u>Google Docs</u></a>] уже ссылаясь на неё, а также в названии коммита в таком случае стоит указывать к какой #issue относится данный код. И при полной реализации её, необходимо её закрывать, логируя это в коммите и документе.</p>
<p>Также хорошим тоном является покрытие кода документацией и ведение кода в стиле <a href="https://pep8.ru/doc/pep8/">PEP8</a>. Многие среды программирования помогают поддерживать правильное ведение стиля кода. Проверять код на соответствие стандарту PEP8 можно с помощью библиотеки <a href="https://pypi.org/project/flake8/">flake8</a>. Также, если пользуетесь IDE PyCharm, то в ней можно настроить проверку кода с помощью flake8 по <a href="https://habr.com/ru/company/dataart/blog/318776/">следующей инструкции</a>. &nbsp;Документировать весь код необходимо в одном стиле, к примеру в <a href="https://google.github.io/styleguide/pyguide.html">стиле Google</a>.&nbsp;</p>
<h2>Выполнение заданий</h2>
<p>Задания во всех кейсах структурированы и разбиты по пунктам. Необходимо реализовывать решение последовательно выполняя задания из пунктов. Описание каждого пункта содержит описание задания и полезные ссылки с примерами реализация и/или теоретической информацией. Иногда будет нужно искать информацию самостоятельно, ключевые слова для поиска будут видны из описание подзадачи.</p>
<h2>Коммуникация</h2>
<p>Общение будет происходить по каналу в Discord [<a href="https://discord.com/"><u>Discord</u></a>]. Там можно будет задавать вопросы и консультироваться.</p>
<h2>Контроль прохождения курса</h2>
<p>Задания ориентировочно рассчитаны на три месяца их выполнения. С периодичностью раз в неделю будет совещание по средствам Discord [<a href="https://discord.com/"><u>Discord</u></a>], где обучающемуся необходимо будет описать проделанную работу за неделю, опираясь на документ с отчетом [<a href="https://www.google.ru/intl/ru/docs/about/"><u>Google Docs</u></a>].</p>
<h3>Рекомендованное ПО</h3>
<ul>
  <li>OS: Linux (<a href="https://ubuntu.com/#download"><u>Ubuntu</u></a> &gt;= 18), macOS &gt;= 10 (для пользователей Apple)</li>
  <li>IDE: <a href="https://www.jetbrains.com/ru-ru/pycharm/"><u>PyCharm</u></a>, <a href="https://jupyter.org/"><u>Jupiter Notebook</u></a>, <a href="https://www.vim.org/"><u>VIM</u></a></li>
  <li>Language: Python &gt;= 3.6</li>
  <li>Git control: <a href="https://www.sublimemerge.com/"><u>Sublime Merge</u></a></li>
</ul>
<p style="text-align:center;"><span class="text-big"><strong>Желаем успешного прохождения курса!</strong></span></p>
