<!--
title: Список моделей по темам
description: Список моделей
published: true
date: 2021-09-07T10:05:53.242Z
tags: models, models zoo, models stack
editor: ckeditor
dateCreated: 2021-08-25T12:45:54.299Z
-->

<h1><span class="text-huge">Список моделей</span></h1>
<p>Подробным разбор и сопоставление теоритической части с реализацией приводит данный <a href="https://nn.labml.ai/">ресурс</a>, рекомендуется к ознакомлению.</p>
<h2>Классификация изображений</h2>
<p>Классические модели: <a href="https://pytorch.org/vision/stable/models.html">зоопарк из torchvision</a>, <a href="https://github.com/rwightman/pytorch-image-models">расширенный зоопарк</a></p>
<p>Трансформеры: <a href="https://github.com/lucidrains/vit-pytorch">ViT</a> (рекомендуется, содержит множество моделей), <a href="https://github.com/MicPie/clasp">CLASP</a></p>
<h2>Детекция объектов</h2>
<h3>Якорные модели:</h3>
<ul>
  <li>Если нужная максимальная скорость: <a href="https://pytorch.org/hub/nvidia_deeplearningexamples_ssd/">SSD</a></li>
  <li>Масштабируемые сети (конфигурации от быстрых до точных): <a href="https://habr.com/ru/post/503200/">YOLOv4</a>, <a href="https://github.com/ultralytics/yolov5">YOLOv5 (отличный пайплайн для обучения)</a> (рекомендуется), <a href="https://paperswithcode.com/paper/scaled-yolov4-scaling-cross-stage-partial">Scaled-YOLOv4</a></li>
</ul>
<h3>Безякорные модели:</h3>
<p><a href="https://disk.yandex.ru/d/mhvBqTr7oGm1iw"><span class="text-small">Презентация по теме</span></a><span class="text-small"> (рекомендуется к ознакомлению, в конце имеются ссылки на литературу)</span></p>
<ul>
  <li>Масштабируемые сети (конфигурации от быстрых до точных): <a href="https://github.com/Megvii-BaseDetection/YOLOX">YOLOX</a> (рекомендуется)</li>
  <li>Базируемые на трансформерах: <a href="https://github.com/facebookresearch/detr">DETR</a>, <a href="https://github.com/ashkamath/mdetr">MDETR</a></li>
</ul>
<h2>Отслеживание (трекинг) объектов</h2>
<ul>
  <li>Классические подходы: <a href="https://github.com/nwojke/deep_sort">DeepSort</a> (рекомендуется), <a href="https://github.com/theAIGuysCode/yolov4-deepsort">YOLOv4-DeepSort</a>, <a href="https://paperswithcode.com/paper/smot-single-shot-multi-object-tracking">SMOT</a></li>
  <li>Базируемые на трансформерах: <a href="https://github.com/ifzhang/FairMOT">FairMOT</a>, <a href="https://github.com/amazon-research/siam-mot">SiamMOT</a></li>
</ul>
<h2>Подавление шума</h2>
<ul>
  <li>На изображениях: <a href="https://github.com/zsyOAOA/DANet">DANet</a>, <a href="https://paperswithcode.com/paper/deep-image-prior">Deep Image Prior</a></li>
  <li>На видео: <a href="https://github.com/m-tassano/fastdvdnet">FastDVDNet</a></li>
  <li>Звука: <a href="https://github.com/microsoft/DNS-Challenge/tree/master/NSNet2-baseline">NSNet2</a>, <a href="http://www.cs.columbia.edu/cg/listen_to_the_silence/">LSSSD</a></li>
</ul>
<h2>Синтез речи</h2>
<p>Одноголосовой синтез: <a href="https://github.com/mindslab-ai/wavegrad2">WaveGrad2</a>, <a href="https://github.com/huawei-noah/Speech-Backbones/tree/main/Grad-TTS">Grad-TTS</a></p>
<p>Многоголосовой синтез: <a href="https://github.com/mindslab-ai/wavegrad2">WaveGrad2</a></p>
<p>Синтез с заданным стилем речи: <a href="https://github.com/CorentinJ/Real-Time-Voice-Cloning">RTVC</a></p>
<h2>Генерация изображений</h2>
<p>Генеративные сети: <a href="https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html">DCGAN</a> (подходит для ознакомления с темой), <a href="https://github.com/lucidrains/stylegan2-pytorch">StyleGAN2</a></p>
<p>Автоэнкодеры: <a href="https://github.com/rosinality/vq-vae-2-pytorch">VQ-VAE-2</a>, <a href="https://github.com/podgorskiy/ALAE">ALAE</a></p>
<h2>Сегментация изображений</h2>
<h3>Метрки качества</h3>
<p>Cross Entropy Loss</p>
<p>Jaccard loss</p>
<p>Dice Coefficient</p>
<p>Soft Dice</p>
<p>Tversky loss</p>
<p>Focal loss</p>
<h3>Модели</h3>
