<!--
title: NLP проект
description: 
published: true
date: 2021-08-23T10:16:53.870Z
tags: 
editor: ckeditor
dateCreated: 2021-08-23T07:54:07.688Z
-->

<h1>Система классификации и рекомендации научных статей</h1>
<h2>Постановка задачи</h2>
<p>Необходимо реализовать систему, которая решает следующие задачи:</p>
<ol>
  <li>Обработка pdf документов, содержащих научные статьи. Выделение заголовка, описания (abstract) и параграфов статьи</li>
  <li>Классификация научной статьи по её заголовку и описанию (abstract)</li>
  <li>Рекомендация наиболее похожих статей по теме</li>
  <li>Автоматическая генерация описания статей по теме</li>
  <li>Если статья на медицинскую тему, то обучить NER модель для детекции названий болезней в статье. Например, hypothermia, polydipsia, amnesia, и.т.д. Набор данных можно найти здесь -&gt; <a href="https://www.ncbi.nlm.nih.gov/research/bionlp/Data/"><u>National Center for Biotechnology Information</u></a></li>
</ol>
<figure class="image image_resized" style="width:460px;"><img src="https://lh4.googleusercontent.com/LAjh2W3vdzimRlpCRQlozbSZr36eD7QQH-ukDu9n6XDmdsUXDiHDzHDynploGp0JoqmCMsq9LmT7HrdyrViyyNiGIggmuhqcM6DwC_VBc3HQ2_zPKx0uAfC8JVWs7sjLAgm1ipuh"></figure>
