<!--
title: Система прогнозирования стоимости криптовалют/акций
description: 
published: true
date: 2021-10-01T09:20:42.712Z
tags: 
editor: ckeditor
dateCreated: 2021-08-26T08:25:57.082Z
-->

<h1>Система прогнозирования стоимости криптовалют/акций</h1>
<h2>Постановка задачи</h2>
<p>Реализовать систему прогнозирования стоимости любой криптовалюты или акций компании. К примеру, Dogecoin или Apple.</p>
<figure class="image image_resized" style="width:196px;"><img src="https://lh5.googleusercontent.com/t69GLRPU_mbL2ga8cbYwZl6_eYbRlfmE3YeNhXCtO3dia1FBrLTGLNqavDbDoTnfhO1jNk_-_A-ladbROVg0aY7ILOVES-5gDPPiRjudq57unK9B4FTkuxuo1KyFaYAGOOXEMXn5=s0"></figure>
<p>Система должна решать следующие подзадачи:<br>&nbsp;</p>
<ol>
  <li>Периодический сбор финансовых данных через API бирж</li>
  <li>Сохранение полученных и обработанных финансовых данных в базу</li>
  <li>Предсказание движения цен на основе классических моделей машинного обучения</li>
  <li>Предсказание движения цен на основе нейронных сетей</li>
  <li>Реализация API для доступа пользователей к системе</li>
</ol>
<h2>Требования к реализации</h2>
<ol>
  <li>Периодический сбор и обработку финансовых данных реализовать с помощью Apache Airflow</li>
  <li>Для реализации нейронных сетей использовать PyTorch</li>
  <li>Для реализации API использовать FastAPI или Flask</li>
  <li>Вся система должна быть упакована в Docker контейнеры и запускаться с помощью Docker-compose.</li>
</ol>
<p>&nbsp;</p>
<h2>Где найти финансовые данные</h2>
<p><a href="https://www.alphavantage.co/"><u>https://www.alphavantage.co/</u></a></p>
<p><a href="https://www.coinapi.io/"><u>https://www.coinapi.io/</u></a></p>
<p><a href="https://tinkoffcreditsystems.github.io/invest-openapi/"><u>https://tinkoffcreditsystems.github.io/invest-openapi/</u></a></p>
<p><a href="https://financialmodelingprep.com/developer/docs"><u>https://financialmodelingprep.com/developer/docs</u></a></p>
<p><a href="https://aletheiaapi.com/"><u>https://aletheiaapi.com/</u></a></p>
<p><a href="https://marketstack.com/"><u>https://marketstack.com/</u></a></p>
<p><a href="https://polygon.io/"><u>https://polygon.io/</u></a></p>
<p>&nbsp;</p>
<p><u>Криптобиржи: </u>Binance, Bitmex, Ftx, Bittrex, Kucoin, Hitbtc, Poloniex, Bittrex, Okex, Huobi</p>
