<!--
title: Бонусные темы
description: 
published: true
date: 2021-04-19T14:58:34.664Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:16.667Z
-->

<h2>Современные системы поиска наиболее близких векторов (Milvus)</h2>
<p>В одном из заданий требовалось реализовать поиск лица по векторам, хранящимся в базе в виде списка. Такое простое решение окажется неэффективным при работе с большой базой векторов (уже больше миллиона). Для этого существуют специализированные фреймворки, реализующие хранение и быстрый поиск по базе из векторов, эффективно утилизирующие кластера и GPU. Одним из таких решений является фреймворк, представленной разработчиками Facebook: Faiss [<a href="https://github.com/facebookresearch/faiss"><u>Faiss</u></a>]. Но данный фреймворк является достаточно низкоуровневым, поэтому удобнее использовать “обертки” над ним по типу Milvus [<a href="https://milvus.io/"><u>Milvus: An Open Source Vector Similarity Search Engine</u></a>]. Данное решение позволяет быстро разворачивать базу с удобным интерфейсом.</p>
<h2>Версионирование данных и воспроизводимость экспериментов</h2>
<p>В рамках курса вы работали с различными наборами данных, проводили эксперименты с моделями компьютерного зрения, проверяли гипотезы, изменяли код. Хорошей практикой является версионирование всех этих действий. В этом разделе вам предстоит разобраться с инструментами, подходящими для этой цели: <a href="https://dvc.org/"><u>Data Version Control (DVC)</u></a>, <a href="https://wandb.ai/site"><u>W&amp;B</u></a> и <a href="https://mlflow.org/"><u>MLFlow</u></a>.&nbsp;</p>
<ul>
  <li>Попробуйте применить DVC для версионирования ваших данных и моделей.</li>
  <li>В одном из заданий вы тренировали модель для задачи Image Captioning. Повторите эксперименты, но попробуйте интегрировать в пайплайн обучения один из инструментов для трекинга экспериментов, <a href="https://wandb.ai/site"><u>W&amp;B</u></a> или <a href="https://mlflow.org/"><u>MLFlow</u></a>. Визуализируйте с их помощью метрики.</li>
</ul>
<p>Материалы для вдохновения:</p>
<ul>
  <li><a href="https://habr.com/ru/company/funcorp/blog/548942/">DVC — Git для данных на примере ML-проекта.</a></li>
  <li><a href="https://habr.com/ru/post/535274/">DVC vs GIT. Почему GIT'а недостаточно в проектах машинного обучения.</a></li>
  <li><a href="https://wandb.ai/site/articles/intro-to-pytorch-with-wandb">Intro to Pytorch with W&amp;B.</a></li>
  <li><a href="https://medium.com/pytorch/mlflow-and-pytorch-where-cutting-edge-ai-meets-mlops-1985cf8aa789">MLflow and PyTorch — Where Cutting Edge AI meets MLOps.</a></li>
</ul>
<p>&nbsp;</p>
