<!--
title: Классические алгоритмы компьютерного зрения
description: 
published: true
date: 2021-08-02T08:36:14.445Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:19.295Z
-->

<h1>О чем модуль?</h1>
<p>В этом модуле Вы изучите классические алгоритмы компьютерного зрения и попытаетесь применить их для детекции и распознавания лиц.</p>
<h2>Детекция лиц на основе каскада Хаара (Haar Cascade).</h2>
<figure class="image image_resized image-style-align-right" style="width:24.03%;"><img src="/assets/emma.png">
  <figcaption>Пример работы каскада Хаара</figcaption>
</figure>
<p>Каскад Хаара - это эффективный методом детекции объектов на изображении. Изучите теорию и попробуйте применить каскад Хаара с помощью библиотеки OpenCV [<a href="https://www.pyimagesearch.com/2021/04/05/opencv-face-detection-with-haar-cascades/"><u>Face Detection using Haar Cascades</u></a>][<a href="https://towardsdatascience.com/computer-vision-detecting-objects-using-haar-cascade-classifier-4585472829a9"><u>Computer Vision — Detecting objects using Haar Cascade Classifier</u></a>].</p>
<h2>Детекция лиц с помощью гистограмм направленных градиентов (HOG descriptors)</h2>
<p>Гистограммы направленных градиентов - это дескрипторы особых точек изображения, которые используются для детекции объектов [<a href="https://www.pyimagesearch.com/2014/11/10/histogram-oriented-gradients-object-detection/"><u>Histogram of Oriented Gradients and Object Detection</u></a>]. Дополнительно: почитайте про другие методы построения дескрипторов [<a href="https://docs.opencv.org/master/df/dd2/tutorial_py_surf_intro.html"><u>Introduction to SURF</u></a>][<a href="https://docs.opencv.org/master/da/df5/tutorial_py_sift_intro.html"><u>Introduction to SIFT</u></a>] и сравните качество их работы.</p>
<h2>Методы классификации изображений</h2>
<p>Используйте метод опорных векторов для классификации изображений [<a href="https://scikit-learn.org/stable/auto_examples/classification/plot_digits_classification.html"><u>SVM example</u></a>].Так же, попробуйте использовать методы понижения размерности для улучшения качества (PCA, t-SNE) [<a href="https://www.kaggle.com/ddmngml/pca-and-svm-on-mnist-dataset"><u>PCA and SVM on MNIST dataset</u></a>][<a href="https://towardsdatascience.com/dimensionality-reduction-using-t-distributed-stochastic-neighbor-embedding-t-sne-on-the-mnist-9d36a3dd4521"><u>Dimensionality Reduction using t-SNE</u></a>].</p>
<h2>Детекция ключевых точек лица</h2>
<p>Изучите методы, используемые в процессе детекции ключевых точек лица человека. Как правило, это происходит в два этапа: 1) производится поиск областей лиц на изображении, 2) найденные области обрабатываются и определяются ключевые точки [<a href="https://docs.opencv.org/master/d2/d42/tutorial_face_landmark_detection_in_an_image.html"><u>OpenCV docs example</u></a>][<a href="https://www.pyimagesearch.com/2017/04/03/facial-landmarks-dlib-opencv-python/"><u>Pyimagesearch tutorial</u></a>].&nbsp;</p>
<h2>Выравнивание изображений лиц (Face alignment)</h2>
<p>При обработки изображений лиц часто встает вопрос о нахождении и нормализации (выравнивании) изображения лица. Выравнивание обычно включает в себя поворот, масштабирование и обрезку интересующей части фотографии [<a href="https://www.pyimagesearch.com/2017/05/22/face-alignment-with-opencv-and-python/"><u>OpenCV example</u></a>].</p>
<h2>Распознавание лиц с помощью гистограмм направленных градиентов (HOG descriptors)</h2>
<p>Многие методы классификации изображений используют высокоуровневые признаки, полученные из исходных изображений. Один из методов выделения высокоуровневых признаков на изображениях это гистограммы направленных градиентов [<a href="https://learnopencv.com/histogram-of-oriented-gradients/"><u>HOG</u></a>][<a href="https://debuggercafe.com/image-recognition-using-histogram-of-oriented-gradients-hog-descriptor/"><u>Image classification pipeline based on HOG’s</u></a>]. Также про альтернативный подход без нейронных сетей можно прочитать тут [<a href="https://docs.opencv.org/master/da/d60/tutorial_face_main.html"><u>OpenCV Face recognition</u></a>]. Для реализации системы распознавания лиц можно применить любой из описанных подходов.</p>
