<!--
title: Автоматическое описание изображений
description: 
published: true
date: 2021-04-06T10:29:24.763Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:22.018Z
-->

<p><span class="text-huge"><mark class="pen-red"><strong>Внимание! Срок сдачи заданий - 19 апреля!</strong></mark></span></p>
<h1>О чем модуль?</h1>
<p>В этом модуле Вы познакомитесь с задачей автоматического описания изображений (image captioning) и методами её решения на основе нейронных сетей.</p>
<h2>Разработка модели для автоматического описания изображения</h2>
<p>Следуя инструкциям в ноутбуке [<a href="https://gitlab.com/alexey.s.russ/example-repository/-/blob/master/notebooks/ImageCaptionBaseline%5Bseminar%5D.ipynb"><u>notebooks/ImageCaptionBaseline[seminar].ipynb</u></a>], попробуйте обучить модель для автоматического описания изображения [<a href="https://www.youtube.com/watch?v=wSVnlLV29VY&amp;feature=emb_logo"><u>Задача Image Captioning - описание изображения текстом нейросетью</u></a>] (для обучения модели вам потребуется мощная видеокарта, поэтому можете загрузить ноутбук на <a href="https://colab.research.google.com/"><u>google colab</u></a>/<a href="https://mset.space"><u>mset.space</u></a>). Ключевые идеи, необходимые для понимания работы модели, можно прочитать по ссылкам [<a href="https://colah.github.io/posts/2015-08-Understanding-LSTMs/"><u>Understanding LSTM Networks</u></a>][<a href="https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Image-Captioning"><u>a-PyTorch-Tutorial-to-Image-Captioning</u></a>][<a href="https://towardsdatascience.com/what-is-attention-mechanism-can-i-have-your-attention-please-3333637f2eac"><u>What is attention mechanism?</u></a>]</p>
<h2>Внедрение данного решения в текущий проект по распознаванию лиц</h2>
<p>На данном этапе, вы должны иметь 2 модели: модель для распознавания лиц и модель для автоматического описания изображения. Придумайте, как объединить эти две модели, чтобы получить описания действий человека на изображении.</p>
