<!--
title: Нейронные сети для распознавания лиц
description: 
published: true
date: 2021-08-05T14:23:11.785Z
tags: 
editor: ckeditor
dateCreated: 2021-02-15T09:44:24.624Z
-->

<h1>О чем модуль?</h1>
<p>Вы познакомитесь с основными архитектурами нейронных сетей для обработки изображений и примените полученные знания к задаче распознавания лиц.</p>
<h2>Детекция лица на основе нейронной сети</h2>
<p>Одной из самых популярных моделей для детекции объектов на изображении является Single Shot Multibox Detector (SSD) [<a href="https://github.com/sgrvinod/a-PyTorch-Tutorial-to-Object-Detection"><u>PyTorch-Tutorial-to-Object-Detection</u></a>]. Попробуйте запустить dnn module библиотеки OpenCV для детекции лиц, в котором используется SSD [<a href="https://www.pyimagesearch.com/2018/02/26/face-detection-with-opencv-and-deep-learning/"><u>Face detection with OpenCV and deep learning</u></a>]. Дополнительно: познакомьтесь с фреймворком <a href="https://github.com/open-mmlab/mmdetection"><u>mmdetection</u></a>, в котором реализованы как классические, так и самые современные модели для детекции объектов.</p>
<h2>Обучение собственной нейронной сети для детекции лиц</h2>
<p>Попробуйте обучить модель YOLOv5 для детекции лиц используя следующий репозиторий [<a href="https://github.com/ultralytics/yolov5">ultralytics/yolov5</a>]. В качестве данных для обучения/валидации используйте <a href="http://shuoyang1213.me/WIDERFACE/">WIDER FACE</a>.</p>
<h2>Распознавание лиц с помощью нейронных сетей</h2>
<p>С темой распознавания лиц с помощью нейронных сетей можно познакомиться в уроке Adrian Rosebrock [<a href="https://www.pyimagesearch.com/2018/09/24/opencv-face-recognition/"><u>OpenCV Face recognition</u></a>]. Дополнительно: изучите функцию потерь triplet loss [<a href="https://www.youtube.com/watch?v=d2XB5-tuCWU&amp;list=PLkDaE6sCZn6Gl29AoE31iwdVwSG-KnDzF&amp;index=35"><u>C4W4L04 Triplet loss</u></a>], а также архитектуру FaceNet [<a href="https://arxiv.org/abs/1503.03832"><u>FaceNet: A Unified Embedding for Face Recognition and Clustering</u></a>]</p>
<h2>&nbsp;Общие готовые решения для распознавания лиц</h2>
<p>Существуют уже готовые решения для распознавания лиц. Вот некоторые из них [<a href="https://github.com/ageitgey/face_recognition"><u>Face Recognition</u></a>][<a href="https://github.com/timesler/facenet-pytorch"><u>facenet-pytorch</u></a>][<a href="https://github.com/krasserm/face-recognition"><u>Deep face recognition with Keras, Dlib and OpenCV</u></a>][<a href="https://github.com/serengil/deepface"><u>deepFace</u></a>].</p>
<h2>Сравнения качества работы системы для распознавания лиц, основанной на классических подходах компьютерного зрения и на нейронных сетях</h2>
<p>Для оценки качества работы системы распознавания лиц существуют специальные метрики, ознакомиться с ними вы можете в следующей статье с Habr [<a href="https://m.habr.com/ru/post/317798/"><u>Ищем знакомые лица</u></a>].</p>
<p>На тестовом наборе данных оцените качества готовой нейросетевой модели распознавания лиц [<a href="https://www.pyimagesearch.com/2018/09/24/opencv-face-recognition/"><u>OpenFace</u></a>] и реализованного вами решения на классических методах.</p>
<h2>Разработка системы поиска похожих лиц</h2>
<p>В этом разделе Вам предстоит разобраться в методах оценки схожести лиц. Задача состоит в реализации поисковой системы с нуля с помощью библиотек numpy и scipy [<a href="https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.paired_euclidean_distances.html#sklearn.metrics.pairwise.paired_euclidean_distances"><u>Pairwise distances</u></a>][<a href="https://www.researchgate.net/profile/Li_Bai/publication/220745463_Cosine_Similarity_Metric_Learning_for_Face_Verification/links/54dcd4880cf25b09b912d2ed.pdf"><u>Cosine Similarity Metric Learning for Face Verification</u></a>][<a href="https://medium.com/@johnkorly/making-your-own-face-recognition-system-in-python-c18e1da4ff69"><u>Making your own Face Recognition System in Python</u></a>].</p>
